<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Guruprasad Kora">

<title>ORNL UniFam</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/css/datasettings.css" rel="stylesheet">
</head>

<body>
<% include header.ejs %>
    <div class="container">
      <div class="row">
        <div class="box">
          <div>
            <hr>
            <h2 class="intro-text text-center">Searching <strong>Job</strong></h2>
            <hr>
						<div class='text-center'>
							<%
							if (id) {
								var dd = moment(job.submitTime).fromNow();
							%>
							<strong>Job Found</strong><br/>
							Submited <%= dd %> <br/></br>
							
							<div> <!-- job inputs -->
								<h5>Job Inputs</h5>
								<div>

									<br/>
									Name <strong><%= job.name %> </strong>  <span class='small muted'><%= job.org %> </span> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
									Email <strong><%= job.email %></strong> 
									<br/> <br/> <br/>

									<a href="/results/<%= id %>" class="btn btn-success btn-lg">Job Results</a>
									<br/> <br/> <br/>
								</div>

							</div> <!-- job inputs -->
							<div> <!-- start of current status -->
								<h6> Current Status </h6><br/>
									<%
									console.log(job.statuses);
									for (var i = 0; i < job.statuses.length; i++) {
										var status = job.statuses[i];
										console.log(status);
									%>
										<div class='text-left col-sm-offset-4'>
											<span class='text-success'><%= moment(status.time).fromNow() %> <i class="fa fa-check-circle"></i> </span> &nbsp; &nbsp; &nbsp; &nbsp;     <%= status.state %>
											<br/>
											<% if ( i !== job.statuses.length - 1  ) { %>
											&nbsp; &nbsp; &nbsp; &nbsp;     <i class="fa fa-arrow-down"></i>
											<% } %>
											<br/>
										</div>
									<% } %>
							</div>
								<% } else { %>
								<strong>Job Not Found</strong>, Please contact UniFam support. <br/><br/>

							</div>
							<!-- End of current status -->

							<% } %>
							
						</div>

          </div>
				</div> <!-- /.box -->
			</div> <!-- /.row -->

    </div><!-- /.container -->

<% include footer.ejs %>

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62400488-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
