<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Guruprasad Kora">

<title>ORNL UniFam</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- Add custom CSS here -->
<link href="/css/datasettings.css" rel="stylesheet">
</head>

<body>
<% include header.ejs %>
    <div class="container">
      <div class="row">
        <div class="box">
          <div>
            <hr>
            <h2 class="intro-text text-center">Job <strong>Results</strong></h2>
            <hr>
						<div class='text-center'>
							<%
							if (id) {
								var dd = moment(job.submitTime).fromNow();
							%>
							Submited <span class="label label-primary"><%= dd %> </span> <br/></br>
							
							<div> <!-- job inputs -->
								Job Id <strong><%= job.id %></strong>
								<div>
									<br/>
									Name <strong><%= job.name %> </strong>  <span class='small muted'><%= job.org %> </span> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
									Email <strong><%= job.email %></strong> 
									<br/> <br/> <br/>
								</div>

							</div> <!-- job inputs -->
							<div> <!-- start of current status -->
								<h6> Downloadable Job Files </h6><br/>
									<%
									for (var i = 0; i < files.length; i++) {
									if ( files[i] !== 'exec.sh' && 
											 files[i] !== 'viz.sh' &&
											 files[i] !== 'filter.sh'
											 ) {

											 if (files[i].indexOf(".group") > -1 ) continue;
											 if (files[i].indexOf(".domtab") > -1 ) continue;
									%>
										<div class='text-left col-sm-offset-5'>
											<a href='/userData/<%= id %>/<%= files[i] %>'>
											<%= i + 1 %>. 
											&nbsp; 
											<%= files[i] %> <i class="fa fa-cloud-download"> </i></a>
											<br/>
											<br/>
										</div>
										<% }} %>
							</div>
								<% } else { %>
								<strong>Job not found</strong>, Please contact UniFam team for support. <br/><br/>

							</div>
							<!-- End of current status -->

							<% } %>
							
						</div>

          </div>
				</div> <!-- /.box -->
			</div> <!-- /.row -->

    </div><!-- /.container -->

<% include footer.ejs %>

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
</script>

</body>
</html>
